
$mainbackground:hsl(2, 99%, 34%);
$middlebackground:#ffffff;
$subbackground: #650300;
$background-bl: #000000;

//font
$bodyfontsize: 20px;
$fontcolor:#ffffff;
$fontcolor-g:#555555;
$lineheight: 1.5;
$fontsize-s:16px;
$fontsize-1:18px;
$fontsize-3: 36px;
$fontsize-2:24px;
$fontsize-5:32px;
$fontsize-4:48px;
$en-fontfamily:"Roboto", sans-serif;

$title-border:#aa0601 8px solid;
$arrow-border:1px solid #555555;

$padding-m: 12px;